<div class="contenitorehome">
  <img class="immaginehome" src="https://static.vecteezy.com/system/resources/previews/029/888/516/original/zoom-find-icon-symbol-image-illustration-of-the-search-lens-design-image-vector.jpg">
</div>
