<%= stylesheet_link_tag("bodies") %>

<div class="container">
  <div id="cardbase">

    <h1>New info</h1>

    <%= render "form", info: @info %>

    <br>

    <div>
      <%= link_to "Back to infos", infos_path %>
    </div>
  </div>
</div>
