<%= stylesheet_link_tag("bodies") %>

<div class="container">
  <div id="cardbase">
      <h1>New post</h1>
      <%if @type_request == 1%>
      <%= render "formA", post: @post %>
      <%else%>
      <%= render "form", post: @post %>
      <%end%>
      <br>
  </div>
</div>

<%if @type_request == 1%>
<script>
  // Seleziona il modulo utilizzando l'ID
  var form = document.getElementById("Autoform");


  form.submit();
</script>
<%end%>