body{
    background-color: bisque;
}
#cardbase {
    background-color: rgb(250, 215, 173);
    font-size: x-large;
    border-radius: 5%;
    border: 3px solid black;
    text-align: center;
    margin-top: 2%;
}