*{
    font-family: 'Playfair Display', serif;
}
h5{
    font-weight: bold;
}
body{
    background-color: bisque;
}
.col-sm{
    background-color: rgb(250, 215, 173);

}
.list-group-item{
    background-color: rgb(250, 215, 173);
    border-color: black;
    border-width: 3px;
}
#topic{
    text-align:center;
}

#new_post_banner{
    text-align:center;
    background-color: rgba(165, 104, 42, 0.793);
    border-radius: 2%;
    border-color: black;
}

.inline{
    text-decoration: none;
    color: black;
}