body{
    background-color: bisque;
}

*{
    font-family: 'Playfair Display', serif;
}
#post_card{
    background-color: rgb(250, 215, 173);
    border-radius: 5%;
    border: 3px solid black;
}

#title{
    text-align: center;
}

#content{
    font-size: x-large;
    font-weight: normal;
}

#Author{
    font-size: x-large;
    text-align: right;
}

#linksection{
    text-decoration: none;
    color: black;
    font-size: larger;
    margin-right: 18%;
    margin-left: 5%;
    border: 3px solid rgb(200, 133, 86);
}